<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Clipper Clipp Conductor</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>clipp_conductor</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb331209422761772</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.778402526465-mkn6873vb5ervc3mvliek9i3k16tu630</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>FacebookAppID</key>
    <string>331209422761772</string>
    <key>FacebookClientToken</key>
    <string>CLIENT-TOKEN</string>
    <key>FacebookDisplayName</key>
    <string>Ktaxi Conductor</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>sms</string>
      <string>https</string>
      <string>http</string>
      <string>tel</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppleMusicUsageDescription</key>
    <string>Se requiere permisos para acceder a su biblioteca de fotos y poder subir foto de perfil, foto del vehiculo</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Need BLE permission</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Need BLE permission</string>
    <key>NSCameraUsageDescription</key>
    <string>Esta aplicación necesita la cámara siempre y cuando esté en uso.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Requerimos de su ubicación para ofrecerle nuestros diferentes servicios basados en su localización actual.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Esta aplicación necesita acceso a su ubicación siempre, incluso cuando esté en segundo plano.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Requerimos de su ubicación para ofrecerle nuestros diferentes servicios basados en su localización actual.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Se requiere permisos para acceder a su micrófono para poder enviar audios a través del chat</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a su biblioteca de fotos para cargar y compartir fotos dentro de la aplicación.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Esta aplicación necesita hablar siempre y cuando esté en uso.</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>location</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>kTCCServiceMediaLibrary</key>
    <string>This app requires Mic service media library.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
  </dict>
</plist>